<section class="main">
    <button mat-button (click)="adicionarUsuario()" color="warn">
        <mat-icon mat-list-icon>person_add</mat-icon>
    </button>
    <table class="table">
      <thead>
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>email</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of usuarios">
        <th scope="row">{{user._id}}</th>
        <td>{{user.nombre}}</td>
        <td>{{user.email}}</td>
        <td class="acciones">
          <button mat-button (click)="editarUsuario(user)" color="primary">
            <mat-icon mat-list-icon>mode_edit</mat-icon>
          </button>
          <button mat-button (click)="eliminarUsuario(user)" color="warn">
            <mat-icon mat-list-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </section>