<div class="container">
    <div class="row justify-content-md-center m-1">
        <div class="card bg-light col-md-6 col-sm-12" style="padding: 0;">
            <div class="card-header">Editar Proyecto</div>
            <div class="card-body">
                <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                    <span class="enlaces titulo" (click)="showBasico=!showBasico"><i class="fa fa-pencil" ></i> Proyecto Básico</span>
                    <p class="" *ngIf="!showBasico">Nombre del proyecto, Descripcion, Url del proyecto
                    </p>

                    <fieldset *ngIf="showBasico">
                        <div class="form-group">
                            <label class="col-form-label">Nombre de Proyecto</label>
                            <br>
                            <mat-form-field class="col">
                                <input matInput placeholder="" formControlName='nombre'>
                            </mat-form-field>
                            <p>
                                Este nombre debe ser único en todos los proyectos
                            </p>
                        </div>

                        <div class="form-group">
                            <label class="col-form-label ">Dirección del proyecto URL</label>
                            <br>
                            <mat-form-field class="col">
                                <input matInput placeholder="" formControlName="direccion">
                            </mat-form-field>
                            <p>
                                Este debe contener el path del proyecto Addicionar
                            </p>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Descripcion</label>
                            <br>
                            <mat-form-field class="col">
                                <textarea matInput placeholder="" formControlName="descripcion"></textarea>
                            </mat-form-field>
                            <p>
                                Detalle una descripción del proyecto centrado en las caracteristicas <br> Máximo 800 caracteres
                            </p>
                        </div>
                    </fieldset>
                    <span class="enlaces titulo" (click)="showLogo=!showLogo"><i class="fa fa-picture-o"></i> Logotipo</span>
                    <p *ngIf="!showLogo">Logotipo mostrado en el proyecto
                    </p>
                    <fieldset *ngIf="showLogo">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="col-form-label required">Logo Actual</label>
                                <br>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group">
                                <label class="col-form-label ">Carga el archivo</label>
                                <br>
                                <input type="file" placeholder="">
                                <p>
                                    Este debe contener el path del proyecto Addicionar
                                </p>
                                <br>
                                <mat-form-field class="">
                                    <input matInput placeholder="Cargar Logo por URL">
                                </mat-form-field>
                            </div>
                        </div>
                    </fieldset>
                    <span class="enlaces titulo" (click)="showLicencias=!showLicencias"><i class="fa fa-file-text-o"></i> Licencias</span>
                    <p *ngIf="!showLicencias">Licencias o licencia usadas en el proyecto
                    </p>
                    <fieldset *ngIf="showLicencias">
                        <div class="form-group">
                            <label class="col-form-label ">Licencias Declaradas </label>
                            <!-- aqui mostrar el array de licencias -->
                            <div>
                                <span> GNU Licence</span>
                                <button mat-button color="warn" disabled>
                                <mat-icon mat-list-icon>delete</mat-icon>
                            </button>
                            </div>
                        </div>
                    </fieldset>
                    <button mat-button [disabled]="!userForm.valid" type="submit" color="primary">
                    <mat-icon mat-list-icon>done</mat-icon>
                    Guardar
                  </button>
                    <button mat-button color="warn">
                  <mat-icon mat-list-icon>cancel</mat-icon>
                  Cancelar
                </button>
                </form>
            </div>
        </div>
    </div>



    <div class="col-md-8 col-md-offset-2 well">

    </div>
</div>