<div class="container">
    <div class="row ">
        <div>
            <h3>Editar Proyecto </h3>
        </div>
        <div class="col-md-8 col-md-offset-2 well">
            <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                <h4>
                    <a (click)="showBasico=!showBasico"><i class="fa fa-pencil" ></i> Proyecto Básico</a>
                </h4>
                <p class="" *ngIf="!showBasico">Nombre del proyecto, Descripcion, Url del proyecto
                </p>

                <fieldset *ngIf="showBasico">
                    <div class="form-group">
                        <label class="control-label">Nombre de Proyecto</label>
                        <br>
                        <mat-form-field class="">
                            <input matInput placeholder="" formControlName='nombre'>
                        </mat-form-field>
                        <p>
                            Este nombre debe ser único en todos los proyectos
                        </p>
                    </div>

                    <div class="form-group">
                        <label class="control-label ">Dirección del proyecto URL</label>
                        <br>
                        <mat-form-field class="">
                            <input matInput placeholder="" formControlName="direccion">
                        </mat-form-field>
                        <p>
                            Este debe contener el path del proyecto Addicionar
                        </p>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Descripcion</label>
                        <br>
                        <mat-form-field class="">
                            <textarea matInput placeholder="" formControlName="descripcion"></textarea>
                        </mat-form-field>
                        <p>
                            Detalle una descripción del proyecto centrado en las caracteristicas <br> Máximo 800 caracteres
                        </p>
                    </div>
                </fieldset>

                <h4>
                    <a (click)="showLogo=!showLogo"><i class="fa fa-picture-o"></i> Logotipo</a>
                </h4>
                <p *ngIf="!showLogo">Logotipo mostrado en el proyecto
                </p>
                <fieldset *ngIf="showLogo">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label required">Logo Actual</label>
                            <br>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="form-group">
                            <label class="control-label ">Carga el archivo</label>
                            <br>
                            <input type="file" placeholder="">
                            <p>
                                Este debe contener el path del proyecto Addicionar
                            </p>
                            <br>
                            <mat-form-field class="">
                                <input matInput placeholder="Cargar Logo por URL">
                            </mat-form-field>
                        </div>
                    </div>
                </fieldset>
                <h4>
                    <a (click)="showLicencias=!showLicencias"><i class="fa fa-file-text-o"></i> Licencias</a>
                </h4>
                <p *ngIf="!showLicencias">Licencias o licencia usadas en el proyecto
                </p>
                <fieldset *ngIf="showLicencias">
                    <div class="form-group">
                        <label class="control-label ">Licencias Declaradas </label>
                        <!-- aqui mostrar el array de licencias -->
                        <div>
                            <span> GNU Licence</span>
                            <button mat-button color="warn">
                                <mat-icon mat-list-icon>delete</mat-icon>
                            </button>
                        </div>
                    </div>
                </fieldset>
                <button mat-button [disabled]="!userForm.valid" type="submit" color="primary">
                    <mat-icon mat-list-icon>done</mat-icon>
                    Guardar
                  </button>
                <button mat-button color="warn">
                  <mat-icon mat-list-icon>cancel</mat-icon>
                  Cancelar
                </button>
            </form>
        </div>
    </div>
</div>