<mat-toolbar>
    <button mat-icon-button>
      <!-- <mat-icon>menu</mat-icon> -->
    </button>
    <a [routerLink]="['/inicio']">
      <span >CATALOGO SOFTWARE LIBRE</span>
    </a>
    <nav>
        <button mat-button color="primary" routerLinkActive="actvive" [routerLink]="['/proyectos']">
          <span>Proyectos</span>
        </button>
        <button mat-button color="primary" routerLinkActive="actvive" [routerLink]="['/usuarios']">
            <span>Usuarios</span>  
        </button>
        <button mat-button color="primary" routerLinkActive="actvive" [routerLink]="['/organizaciones']">
            <span>Organizaciones</span>
        </button>
    </nav>
</mat-toolbar>
<router-outlet></router-outlet>
