<!-- <mat-toolbar>
    <button mat-icon-button>
    </button>
    <a [routerLink]="['/inicio']">
      <span >CATALOGO SOFTWARE LIBRE</span>
    </a>
    <nav>
        <button mat-button color="primary" routerLinkActive="actvive" [routerLink]="['/proyectos']">
          <span>Proyectos</span>
        </button>
        <button mat-button color="primary" routerLinkActive="actvive" [routerLink]="['/usuarios']">
            <span>Usuarios</span>  
        </button>
        <button mat-button color="primary" routerLinkActive="actvive" [routerLink]="['/organizaciones']">
            <span>Organizaciones</span>
        </button>
    </nav>
</mat-toolbar> -->
   


<mat-toolbar >
    <button mat-icon-button>
            <mat-icon></mat-icon>
    </button>
    <a [routerLink]="['/inicio']">
    <span >CATALOGO SOFTWARE LIBRE</span>
    </a>

    <nav mat-tab-nav-bar>
    <a mat-tab-link
        dynamicHeight= true
        *ngFor="let link of navLinks"
        [routerLink]="link.path"
        routerLinkActive #rla="routerLinkActive"
        [active]="rla.isActive">
        {{link.label}}
    </a>
    </nav>
</mat-toolbar>

  
  <router-outlet></router-outlet>
  
