<section class="main">
    <div class="sidebar col-md-3">
      <div>
        <h3>Buscar</h3>
        <mat-form-field class="example-form-field">
            <input matInput type="text" placeholder="Nombre del Proyecto"/>     
               <!-- <input matInput type="text" placeholder="Buscar" [(ngModel)]="buscar"/> -->
            <button mat-button matSuffix mat-icon-button aria-label="Search">
              <mat-icon>search</mat-icon>
            </button>
          </mat-form-field> 
      </div>
      <div>
        <h3>
          Explorar 
        </h3>
      </div>
             
      
    </div>
    <div class="col-md-8">
        <button mat-button (click)="adicionar()" color="warn">
            <mat-icon mat-list-icon>add</mat-icon>adicionar
        </button>
        <table class="table">
          <thead>
          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let proyecto of proyectos">
            <th scope="row">{{proyecto.id}}</th>
            <td>
              <a class="principal" (click)="mostrar(proyecto)">
                <h4 matLine>{{proyecto.nombre}}
                </h4>
                <p matLine>{{proyecto.descripcion}}
                </p>
              </a>
              <div class="secundario" *ngIf="mostrarToggle && proyecto.id==idSelect">
                <mat-card>
                  <mat-card-header class="header-info">
                      <mat-card-title>Información</mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                    <p>
                      <i class="fa fa-user-circle"></i>
                        <span> Usuarios: </span> {{proyecto.usuarios}} 
                    </p>
                    <p>
                      <i class="fa fa-code"></i>
                        <span>Commits: </span> {{proyecto.totalCommits}}
                    </p>
                    <p>
                      <i class="fa fa-calendar"></i>
                        <span> Creacion: </span> {{proyecto.fecha_creacion}}
                       fecha
                      
                    </p>
                    <p>
                       <i class="fa fa-calendar"></i>
                        <span>  Ultima actividad: </span> {{proyecto.fecha_ultima_actividad}}
                    </p>
                    <p>
                      <i class="fa fa-gitlab"></i>
                       <span>Url:</span> <a href="{{proyecto.http_url_repo}}" target="#" >{{proyecto.http_url_repo}}</a>
                   </p>
                  </mat-card-content>
                  <mat-card-actions>
                    <button mat-button (click)=irProyecto(proyecto)>Ir</button>
                  </mat-card-actions>
                </mat-card>
                <!-- <mat-card>
                    <mat-card-header>
        
                    </mat-card-header>
                    <mat-card-content>
        
                    </mat-card-content>
                  </mat-card> -->
              </div>
            </td>
            <td class="acciones">
              <button mat-button (click)="editar(proyecto)" color="primary">
                <mat-icon mat-list-icon>mode_edit</mat-icon>
              </button>
              <button mat-button (click)="eliminar(proyecto)" color="warn">
                <mat-icon mat-list-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
        <mat-paginator [length]="length"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        (page)="pageEvent($event)">
      </mat-paginator>
    </div>
    
</section>
