/* .mat-list-icon {
  color: rgba(0, 0, 0, 0.54);
} */

.titulo_proyecto {
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    color: #3f51b5
}

.contenedor_proyectos {
    margin-bottom: 15px;
}