<div class="col-md-12 titulo_proyecto">
    <i class="fa fa-folder" aria-hidden="true"><span>{{proyecto.nombre}}</span></i>
    
</div>
<div class="col-md-12">
    <div class="col-md-6 container_resumen">
        <div class="well">
            <h4>Resumen</h4>
            <span>{{proyecto.descripcion}}</span>

        </div>
    </div>
    <div class="col-md-6 container_referencia">
        <div class="well">
            <h4>Referencia</h4>
            <div class="col-md-12">
                <div class="col-xs-5">
                    <span>Enlace del proyecto:</span>
                </div>
                <div class="col-xs-7">
                    <a href="">{{proyecto.web_url}}</a>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-xs-5">
                    <span>Ubicacion:</span>
                </div>
                <div class="col-xs-7">
                        <a href="">{{proyecto.http_url_repo}}</a>
                </div>
            </div>
            <div class="col-md-12">
                    <div class="col-xs-5">
    
                    </div>
                    <div class="col-xs-7">
                        
                    </div>
            </div>


            <span>{{proyecto.nombre}}</span>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="col-md-4">
        <h4>codigo</h4>
    </div>
    <div class="col-md-4">
        <h4>Actividad</h4>
      GRAFICO DE COMMITS
    </div>
    <div class="col-md-4">
        <h4>codigo</h4>
    </div>
</div>
<div class="col-md-12">
    <div class="col-md-4">
        <h4>Lenguajes de programacion</h4>
    </div>
    <div class="col-md-4">
        <h4>Resumen de Actividad</h4>
        resumen mensual
        resumen anual
    </div>
    <div class="col-md-4">
        <h4>Recientes Contribuciones</h4> 
      raiting *****
    </div>
</div>