<div class="nombre-proyecto col-md-12">
    <i class="fa fa-folder" aria-hidden="true"><h4>nombre del proyecto</h4></i>    
    
</div>
<div class="col-md-12">
    <div class="col-md-6">
      Resumen
    </div>
    <div class="col-md-6">
      Referencia
    </div>
</div>
<div class="col-md-12">
    <div class="col-md-4">codigo</div>
    <div class="col-md-4">Actividad
      GRAFICO DE COMMITS
    </div>
    <div class="col-md-4">codigo</div>
</div>
<div class="col-md-12">
    <div class="col-md-4">Lenguajes de programacion</div>
    <div class="col-md-4">Resumen de Actividad
        resumen mensual
        resumen anual
    </div>
    <div class="col-md-4">Recientes Contribuciones 
      raiting *****
    </div>
</div>