<!-- <div class="col-md-6 col-md-offset-3">
    <form class="adicionar-form">
      <div class="button">
          <button mat-button [routerLink]="['/usuarios']" color="primary">
            <mat-icon mat-list-icon>add_box</mat-icon>
            Adicionar
          </button>
          <button mat-button [routerLink]="['/usuarios']" color="warn">
            <mat-icon mat-list-icon>cancel</mat-icon>
            Cancelar
          </button>
      </div>
      <div class="form-group">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Nombre" value="">
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" [formControl]="emailFormControl">
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Direción invalida
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>  
      </div>
    </form>
</div> -->

<div class="container">
    <div class="row">
      <div  class="col-md-6 col-md-offset-3">
        <section>
          <form novalidate [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <fieldset>
              <div class="form-group">
                  <mat-form-field class="example-full-width">
                      <input matInput placeholder="Nombre" formControlName="nombre" >
                  </mat-form-field>
<!-- 
                <label>Nombre</label>
                <input type="text"
                       class="form-control"
                       formControlName="nombre"> -->
              </div>
            </fieldset>
  
            <div class="form-group">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email" formControlName="email">
                    <!-- <input matInput placeholder="Email" formControlName="email" [formControl]="emailFormControl" >
                    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                      Direción invalida
                    </mat-error>
                    <mat-error *ngIf="emailFormControl.hasError('required')">
                      Email es <strong>requerido</strong>
                    </mat-error> -->
                </mat-form-field> 
<!-- 
              <label>Email</label>
              <input type="email"
                     class="form-control"
                     formControlName="email"> -->
            </div>
            <button mat-button (click)="adicionar()" color="primary"  [disabled]="!userForm.valid">
              <mat-icon mat-list-icon>add_box</mat-icon>
              Adicionar
            </button>
            <button mat-button [routerLink]="['/usuarios']" color="warn">
              <mat-icon mat-list-icon>cancel</mat-icon>
              Cancelar
            </button>
            <!-- <button type="submit" class="btn btn-primary"  [disabled]="!userForm.valid" >Submit</button>
            <button type="button" class="btn btn-warning" (click)="redirectUserPage()">Cancel</button> -->
            <!-- <pre>{{userForm.value | json}}</pre> -->
          </form>
        </section>
      </div>
    </div>
  </div>
  